<!DOCTYPE html>
<html lang="en">
<head>    
  <%-include ("../partial/head")%>
</head>
<body>
    <%-include ("../partial/header")%>    
    <main>
        <h3 class="text-center p-20 font-black bg-orange">Bicicleta Eléctrica Cortina</h3>
        <div>
            <img class="p-8 img2_detalle" src="/imagenes/bici-electrica-cortina.jpg" alt="Bicicleta Eléctrica Cortina"/>
        </div>
        <form action="/ventas/carrito" method="get">
            <div>
                                         
                        <p class= "text-line">Batería: LG 36V/10.4 AH | 374.4 Watts | Litio</p>  
                                                                  
                        <p class= "text-line">Frenos: V Brake, delantero y trasero</p>   
                                                               
                        <p class= "text-line">Display: Verificá toda la información</p>   
                                                              
                        <p class= "text-line">Cambios: Acera 24V</p>   
                                                            
                        <p class= "text-line">Motor: Bafang 350W con sensor de velocidad</p> 
                                                              
                        <p class= "text-line">Niveles de asistencia: 6</p>   
                                                             
                        <p class= "text-line">Autonomía: 35 km./45 km</p>    
                                                           
                        <p class= "text-line">Peso: 24kg</p> 
                                                                   
                        <p class= "text-line">Rodado: 28"</p>  
                                                              
                        <p class= "text-line">Cuadro: Aleación de aluminio</p> 
                                                                
                        <p class= "text-line">Accesorios: Guardabarros, Portaequipajes, Bocina</p> 
                                                                   
                        <p class= "text-line">Luces: Delanteras y traseras</p>  
                                                                  
                        <p class= "text-line">Conexiones: Puerto USB</p>       
                                                              
                        <p class= "text-line">Asiento: Confortable ancho con gel</p>  
                                                                
                        <p class= "text-line">Llantas: Aro doble pared reforzada</p> 
                                                                  
                        <p class= "text-line">Manubrio: Regulable en altura</p> 
                                                                 
                        <p class= "text-line">Cubiertas: Schwalbe</p>
            </div>
            <h2 class="text-center p-20 font-black">Precio: $56.000</h2>    
    
            <div>
                <button class="login-producto w-30" type="submit" id="color">Compra online</button>  
            </div>
        </form>
        <form action="/" method="get">    
            <div>
                <button class="login-producto w-30" type="submit" id="color">Regresar</button>
            </div> 
        </form>              
       
        
        </main>
    <%-include ("../partial/footer")%>
</body>
</html>