<!DOCTYPE html>
<html lang="en">
<head>    
  <%-include ("../partial/head")%>
</head>
<body>
    <%-include ("../partial/header")%>    
    <main>
        <h3 class="text-center p-20 font-black bg-orange">Registro</h3>       
        <form action="/products" method="POST">
            <div class="row product-detail">
                <div class="col-12 col-md-6">                    
                    <div id="category" class="col-md-12 row">
                        <legend><label for="cate">Categoría</label></legend>
                        <input type="radio" name="cate" id="nivel" value="mo" class="radio-inline" onclick="mostrarOpcion()" >Monopatines
                        <input type="radio" name="cate" id="nivel" value="bi" class="radio-inline" onclick="mostrarOpcion()">Bicicletas  
                        <input type="radio" name="cate" id="nivel" value="ho" class="radio-inline" onclick="mostrarOpcion()" >Hoverboards
                        <input type="radio" name="cate" id="nivel" value="sk" class="radio-inline" onclick="mostrarOpcion()">Skateboards    
                        <input type="radio" name="cate" id="nivel" value="ac" class="radio-inline" onclick="mostrarOpcion()" >Accesorios                                             
                    </div>
                </div>

                <div class="col-12 col-md-6">
                    <label for="discount" class="form-label"
                        >Descuento:</label
                    >
                    <input
                        type="text"
                        id="discount"
                        name="discount"
                        placeholder="Ej: 15"
                        class="form-input"
                    />
                </div>
                
                <div class="col-12">
                    <label for="description" class="form-label"
                        >Descripción:</label
                    >
                    <textarea
                        name="description"
                        id="description"
                        class="form-input"
                    ></textarea>
                </div>
                <div class="col-12">
                    <button type="submit" class="buy-now-button">
                        Guardar producto
                    </button>
                </div>
            </div>
        </form>
        <form action="/" method="get">    
            <div>
                <button class="login-producto w-30" type="submit" id="color">Regresar</button>
            </div> 
        </form>              
       
        
        </main>
    <%-include ("../partial/footer")%>
</body>
</html>