<!DOCTYPE html>
<html lang="en">
<head>
   <%-include ("./partial/head")%>
</head>   
<body>
    <%-include ("./partial/header")%>    
    <main>
        <!--<img class="w-100" src="/imagenes/reemplazo_video.png" alt="video"> -->
        <h3 class="h3_letra">Velocidad, Acción y Movimiento</h3>
        
        <h2 class="text-center banner-bicis"><a href="/productos/by-category/1" class="links font-orange">Bicicletas</a></h2>

        <section class="m-0 w-100 he_vh-50">
             <section class="section_articulo_producto he_vh-50">
                    <article class="articulo_producto" id="articulo_anim">
                        <img class="w-100 he-100 img" src="/imagenes/bici-electrica-tourism.jpg" alt="Bicicleta Tourism"/>
                        <p class="font-orange nombre_producto">Bicicleta Electrica Tourism</p>
                        <div>
                            <a href="/productos/consult/3"><button class="rad-10 p-10 font-orange w-80 botton_producto ajusteboton" >Ver detalle del producto</button></a>
                        </div>                        
                    </article>

                    <article class="articulo_producto" id="articulo_anim">                        
                        <img class="img"  src="/imagenes/bici-electrica-mountain-bike.jpg" alt="Bicicleta Mountain Bike" />
                        <p class="font-orange nombre_producto">Bicicleta Electrica Montañera</p>
                        <div>
                            <a href="/productos/consult/2"><button class="rad-10 p-10 font-orange w-80 botton_producto ajusteboton">Ver detalle del producto</button></a>
                        </div>
                    </article>

                    <article class="articulo_producto" id="articulo_anim">
                        <img class="img" src="/imagenes/mono-electrico.jpg" alt="Monopatín Eléctrico" />
                        <p class="font-orange nombre_producto">Monopatín Electrico Uno</p>
                        <div>
                            <a href="/productos/consult/7"><button class="rad-10 p-10 font-orange w-80 botton_producto ajusteboton">Ver detalle del producto</button></a>
                        </div>
                    </article>

                    <article class="articulo_producto" id="articulo_anim">
                            <img class="img" src="/imagenes/bici-electrica-cortina.jpg" alt="Bicicleta Eléctrica Cortina" />
                            <p class="font-orange nombre_producto">Bicicleta Eléctrica Cortina</p>
                            <div>
                                <a href="/productos/consult/1"><button class="rad-10 p-10 font-orange w-80 botton_producto ajusteboton">Ver detalle del producto</button></a>
                            </div>
                    </article>

                    <article class="articulo_producto" id="articulo_anim">
                        <img class="img" src="/imagenes/skateboard_solo.jpg" alt="Skateboard" />
                        <p class="font-orange nombre_producto">Skateboard # 3</p>
                        <div>
                            <a href="/productos/consult/12"><button class="rad-10 p-10 font-orange w-80 botton_producto ajusteboton">Ver detalle del producto</button></a>
                        </div>                        
                    </article>

                    <article class="articulo_producto" id="articulo_anim">
                        <img class="img" src="/imagenes/hoverboard.jpg" alt="Hoverboard" />
                        <p class="font-orange nombre_producto">Hoverboard</p>
                        <div>
                            <a href="/productos/consult/4"><button class="rad-10 p-10 font-orange w-80 botton_producto ajusteboton">Ver detalle del producto</button></a>
                        </div>                        
                    </article>
             </section>  
         </section>  
         
         <h2 class="text-center banner-mono"><a href="/productos/by-category/2" class="links font-orange">Monopatines</a></h2>
         <h2 class="text-center banner-skates"><a href="/productos/by-category/3" class="links font-orange">Skateboards</a></h2>
         <h2 class="text-center banner-hoverboard"><a href="/productos/by-category/4" class="links font-orange">Hoverboards</a></h2>
         <h2 class="text-center banner-accesorios"><a href="/productos/by-category/5" class="links font-orange">Accesorios</a></h2>

 </main>
 <%-include ("./partial/footer")%>
</body>
</html>
