<!DOCTYPE html>
<html lang="en">
<head>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
        <title>Proyecto Integrador - Inicio</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>    
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet"> 
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />    
        <link rel="stylesheet" href="/css/styles.css"/>
        <link rel="stylesheet" href="/css/util.css"/>
        <link rel="stylesheet" href="/css/mobile.css"/>
        <link rel="stylesheet" href="/css/laptop.css"/>
        <link rel="stylesheet" href="/css/tablet.css"/>  
        <link rel="stylesheet" href="/css/normalize.css"/>     
    </head>
</head>
<body>
    <h3>Inicio</h3>
    <div>
        <nav class="nav_estilos">
            <li><a href="/register">Creá tu cuenta</a></li>
            <li><a href="/login">Ingresá</a></li>
            <li><a href="/compras">Mis Compras</a></li>
            <li><a href="/producto">Detalle de Producto</a></li>
        </nav>
    </div>
    
    <!--Imagenes--> 
    
   <article>
    <h3>Bicicleta Electrica Tourism</h3>
    <img
      class="img"
      src="/images/bici-electrica-tourism.jpg"
      alt="Bicicleta Tourism"
    />
    <div>
      
      <div class="align-self-center text-center w-50 p-50">
        <form action="/producto" method="get">
        <button class="login-buttons m-8 w-60" type="submit" id="color">Ir al producto</button>
    </form>
    </div>

    <article>
        <img
          class="img"
          src="/images/bici-electrica-mountain-bike.jpg"
          alt="Bicicleta Mountain Bike"
        />
        <div class="align-self-center text-center w-50 p-50">
            <form action="/producto" method="get">
            <button class="login-buttons m-8 w-60" type="submit" id="color">Ir al producto</button>
        </form>
          </article>

        <article>
            <img
              class="img"
              src="/images/mono-electrico.jpg"
              alt="Monopatín Eléctrico"
            />
            <div class="align-self-center text-center w-50 p-50">
                <form action="/producto" method="get">
                <button class="login-buttons m-8 w-60" type="submit" id="color">Ir al producto</button>
            </form>
              </article>

            <article>
                <img
                class="img"
                  src="/images/bici-electrica-cortina.jpg"
                  alt="Bicicleta Eléctrica Cortina"
                />
                <div class="align-self-center text-center w-50 p-50">
                    <form action="/producto" method="get">
                    <button class="login-buttons m-8 w-60" type="submit" id="color">Ir al producto</button>
                </form>
                  </article>

                <article>
                    <img 
                    class="img" 
                    src="/images/skateboard.jpg" alt="Skateboard" />
                    <div class="align-self-center text-center w-50 p-50">
                        <form action="/producto" method="get">
                        <button class="login-buttons m-8 w-60" type="submit" id="color">Ir al producto</button>
                    </form>
                      </article>


                    <article>
                        <img
                        class="img"
                        src="/images/hoverboard.jpg" alt="Hoverboard" />
                        <div class="align-self-center text-center w-50 p-50">
                            <form action="/producto" method="get">
                            <button class="login-buttons m-8 w-60" type="submit" id="color">Ir al producto</button>
                        </form>
                          </article>



</body>
</html>
