<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrito de Compras</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/laptop.css">
    <link rel="stylesheet" href="/css/tablet.css">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>    
    <main>
        <form action="/" method="get">
            <br>
            <div>
                <label for="formapago"><strong>MIS COMPRAS </strong></label>
                <input id="busqueda" name="busqueda">
                <i class="fas fa-search"></i>     
            </div>            
            <br>
            <div>            
                    <table>                        
                        <tr>
                            <td><img width="15%" height="15%" src="/imagenes/mono-electrico.jpg" alt="Monopatin">Motopatin Electrico</td>
                            <td> 
                                <table>
                                    <tr>
                                        <td>-</td>
                                        <td></td>
                                        <td>1</td>
                                        <td></td>
                                        <td>+</td>
                                    </tr>
                                </table>
                            </td>
                            <td></td>
                            <td>25.500,00 $</td>
                            <td></td>
                            <td><i class="fas fa-times-circle"></i></td>
                            <td></td>
                        </tr>
                        <tr></tr>
                        <tr>
                            <td><img width="15%" height="15%" src="/imagenes/bici-electrica-cortina.jpg" alt="Monopatin">Bicicleta con Motor</td>
                            <td> 
                                <table>
                                    <tr>
                                        <td>-</td>
                                        <td></td>
                                        <td>1</td>
                                        <td></td>
                                        <td>+</td>
                                    </tr>
                                </table>
                            </td>
                            <td></td>
                            <td>15.500,00 $</td>
                            <td></td>
                            <td><i class="fas fa-times-circle"></i></td>
                            <td></td>
                        </tr>                        
                    </table>
            </div>
            <br><br>            
            <div>
                <label>CUPON DE DESCUENTO </label>
                <input id="cupondescuento" name="cupondescuento">
                <button type="submit">Aplicar Descuento</button>
            </div>
            <br>
            <div>
                <label for="formapago">SUB-TOTAL: </label>
                <label for="formapago">41.000,00</label><br>
                <label for="formapago">DESCUENTO: </label>
                <label for="formapago">0,00</label><br>
                <label for="formapago"><strong>TOTAL: </strong></label>
                <label for="formapago"><strong>41.000,00</strong></label>
            </div>            
            <br>
            <div>
                <label for="formapago"><strong>FORMA DE PAGO</strong></label><br>
                <i class="fab fa-cc-visa"></i>
                <i class="fab fa-cc-mastercard"></i>
                <i class="fab fa-cc-amex"></i>
                <i class="far fa-credit-card"></i>                
            </div>
            <br>            
            <div>
                <label for="entrega"><strong>ENTREGA DE PRODUCTO</strong></label><br>
                <input type="radio" name="entrega" value="adomic"> A Domicilio
                <input type="radio" name="entrega" value="localc"> Local Comercial 
                <input type="radio" name="entrega" value="enviocorreo"> Envio al Correo  
            </div> 
            <br><br>               
            <div>
                <button type="submit">PAGAR</button>
            </div>                
            <br><br>
        </form>
             
    </main>
</body>
</html>
