<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Producto</title>
    <link rel="icon" type="image/png" href="/imagenes/favicon-32x32.png" sizes="32x32" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />

    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/laptop.css">
    <link rel="stylesheet" href="/css/tablet.css">

</head>
 
<body>
    <header class="bg-black">
        
        <div class="fx fx-wrap fx-space-between align-center p-20">
                <div class="menu-hamburguesa p-10 hide-laptop">
                    <i class="fas fa-bars"></i>
                </div>

            <h1 class="text-center w-20 w-15-laptop">
                <a href="/">
                <img class="w-75 w-60-laptop" src="/imagenes/logo-teme.png" alt="Logo Teme"/>
                </a>
            </h1>

            <!-- Solo se verá en laptop -->
            <nav class="fx fx-wrap hide-tab-mobile">
                <ul type="none" class="fx fx-wrap">
                    <li> <a href="/p-bicicletas" class="links categories">BICICLETAS ELÉCTRICAS</a> </li>
                    <li> <a href="/p-monopatines" class="links categories">MONOPATINES</a></li>
                    <li> <a href="/p-skateboards" class="links categories">SKATEBOARDS</a> </li>
                    <li> <a href="/p-hoverboards" class="links categories">HOVERBOARDS</a> </li>
                    <li> <a href="/p-accesorios" class="links categories">ACCESORIOS</a> </li>
                </ul>
            </nav>
            <!---->

            <ul type="none" class="fx fx-wrap align-self-center p-20-laptop">   
                <a href="/">
                    <li class=""> <i class="fas fa-home font-cream icon-header"></i></li>
                </a>      
                <a href="/login">
                    <li class=""> <i class="fas fa-user-circle font-cream icon-header"></i> </li>
                </a>
                <a href="/compras">
                    <li class=""> <i class="fas fa-shopping-bag font-cream icon-header"></i></li>
                </a>
            </ul>
        </div>               
        
    </header>

  <main>
    <h3 class="text-center p-20 font-black bg-orange">Skateboard #3</h3>
    <div>
        <img class="p-8 img2_detalle" src="/imagenes/skate3.jpg" alt="Skateboard #3"/>
    </div>
    <form action="/compras" method="get">
        <div>                    
                                                        
            <p class= "text-line">Madera: Maple económico</p>     
                                                                      
            <p class= "text-line">Tabla: cóncava con doble cola, compuesto por 7 laminas de madera y
                                                       
            <p class= "text-line">Lija: completa para el agarre grip tape 80 AB</p class= "text-line"></p>
                                                     
            <p class= "text-line">Bujes: 95 A. Rulemanes Abec 9</p>                  
                                                    
            <p class= "text-line">Ruedas: de Uretano 54 mm</p>                    
                                                                         
            <p class= "text-line">Truck: reforzados de aluminio</p>
            
        </div>
        <h2 class="text-center p-20 font-black">Precio: $8.000</h2>
                 
        <div>
            <button class="login-producto w-30" type="submit" id="color">Compra online</button>  
        </div>
    </form>
    <form action="/" method="get">    
        <div>
            <button class="login-producto w-30" type="submit" id="color">Regresar</button>
        </div> 
    </form>              
   
</main>
<footer class="bg-black">
    <section class="bg-light-blue fx fx-wrap fx-space-between p-20 pr-40 font-22 font-poppins">
        <p class="w-60 p-20 font-cream font-bold">¡Enterate de las novedades y ofertas antes que nadie!</p>
       
        <form class="fx fx-wrap" action="/" method="GET"> 
            <input class="newsletter align-self-center" type="email" name="newsletter" placeholder="Ingresá tu E-mail">  
            <button class="newsletter-s align-self-center" type="submit">Suscribirme</button>
        </form>
    </section>

    <section class="footer-laptop p-8 margins-footer font-cream text-center">

        <article class="p-20 w-100 footer">
        <i class="fas fa-headset p-8 footer-icons spin"></i>
        <h4 class="font-poppins font-orange">Contacto</h4>
        <p class="mt-8">¿Tenés alguna pregunta?</p>
        <p>Llamanos o mandanos un mensaje:</p>
        <p><a href="#" class="mt-8 font-light-blue links underline">contacto@teme.com.ar</a></p>
        <p><a href="#" class="font-light-blue links underline">+000 0000 0000</a></p>
        </article>

        <article class="p-20 w-100 footer">
        <i class="fas fa-cog p-8 footer-icons spin"></i>            
        <h4 class="font-poppins font-orange">Servicio técnico</h4>
        <p><a href="#" class="mt-8 font-cream links underline">Soporte</a></p>
        <p><a href="#" class="font-cream links underline">Repuestos originales</a></p>
        </article>

        <article class="p-20 w-100 footer">
        <i class="fas fa-asterisk p-8 footer-icons spin"></i> 
        <h4 class="font-poppins font-orange">Redes sociales</h4>
        <p class="mt-8">Seguinos:</p>
        <p><a href="https://www.instagram.com/" class="font-cream links" target="_blank"><i class="fab fa-instagram redes-sociales"></i></a></p>
        <p><a href="https://www.facebook.com/" class="font-cream links" target="_blank"><i class="fab fa-facebook redes-sociales"></i></a></p>
        </article>

        <article class="p-20 w-100 footer">
        <i class="fas fa-map-marker-alt p-8 footer-icons spin"></i>
        <h4 class="font-poppins font-orange">Ubicación</h4>
        <p class="mt-8">Av. del Libertador 0000, CABA.</p>
        <p>C 1429, Buenos Aires, Argentina. </p>
        </article>

    </section>
</footer>

</body>
</html>