<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Register</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/css/laptop.css">
    <link rel="stylesheet" href="/css/tablet.css">
    <link rel="stylesheet" href="/css/styles.css">

</head>
<body> 
    <header>
    </header> 

    <main>
        <nav class="fx fx-wrap justify-center p-20">
            <a href="/register" class="links">
                <h3 class="text-center p-20 font-black">Registrarse</h3>
            </a>
            <p class="text-center align-self-center b-20 font-bold">/</p>
            <a href="/login" class="links">
                <h3 class="text-center p-20 font-grey" id="link">Iniciar sesión</h3>
            </a>
        </nav>

        <form class="fx fx-wrap justify-center" action="/" method="GET">  
            <p class="font-bold m-8 w-70">Nombre y apellido:</p>   
            <input class="login-forms m-8" type="text" name="nombre-completo" placeholder="Escriba su nombre" required>   
            <p class="font-bold m-8 w-70">Nombre de usuario:</p>   
            <input class="login-forms m-8" type="text" name="nombre-usuario" placeholder="Escriba un nomrbre de usuario" required>   
            <p class="font-bold m-8 w-70">Mail:</p>   
            <input class="login-forms m-8" type="email" name="mail" placeholder="Escriba su mail" required>    
            <p class="font-bold m-8 w-70">Contraseña:</p>    
            <input class="login-forms m-8" type="password" name="contraseña" placeholder="Escriba una contraseña" required>   
            <p class="font-bold m-8 w-70">Confirmar contraseña:</p>   
            <input class="login-forms m-8" type="password" name="confirmar-contraseña" placeholder="Repita la contraseña" required>   

            
           <div class="align-self-center text-center w-70 p-20">
                <button class="login-buttons m-8 w-45" id=color type="submit">Registrarse</button>
                <button class="login-buttons m-8 w-45" id=color type="reset">Borrar</button>
            </div>      
        </form>

    </main>
</body>

<footer>
</footer>
</html>