<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Register</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />

    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/laptop.css">
    <link rel="stylesheet" href="/css/tablet.css">

</head>
<body> 
    <header class="bg-black p-10">
        
        <div class="fx fx-wrap fx-space-between align-center p-20">
                <div class="menu-hamburguesa p-10 hide-laptop">
                    <i class="fas fa-bars"></i>
                </div>

            <h1 class="text-center w-20 w-15-laptop">
                <a href="/">
                <img class="w-75 w-60-laptop" src="/imagenes/logo-teme.png" alt="Logo Teme"/>
                </a>
            </h1>

            <!-- Solo se verá en laptop -->
            <nav class="fx fx-wrap hide-tab-mobile">
                <ul type="none" class="fx fx-wrap">
                    <li> <a href="/producto" class="links categories">BICICLETAS</a> </li>
                    <li> <a href="/producto" class="links categories">MONOPATINES</a></li>
                    <li> <a href="/producto" class="links categories">SKATEBOARDS</a> </li>
                    <li> <a href="/producto" class="links categories">HOVERBOARDS</a> </li>
                    <li> <a href="/producto" class="links categories">ACCESORIOS</a> </li>
                </ul>
            </nav>
            <!---->

            <ul type="none" class="fx fx-wrap align-self-center">      
                <a href="/login">
                    <li class=""> <i class="fas fa-user-circle font-cream icon-header"></i> </li>
                </a>
                <a href="/compras">
                    <li class=""> <i class="fas fa-shopping-bag font-cream icon-header"></i></li>
                </a>
            </ul>
        </div>               
        
    </header>    


    <main>
        <nav class="fx fx-wrap justify-center p-20">
            <a href="/register" class="links">
                <h3 class="text-center p-20 font-black">Registrarse</h3>
            </a>
            <p class="text-center align-self-center b-20 font-bold">/</p>
            <a href="/login" class="links">
                <h3 class="text-center p-20 font-grey" id="link">Iniciar sesión</h3>
            </a>
        </nav>

        <form class="fx fx-wrap justify-center" action="/" method="GET">  
            <p class="font-bold m-8 w-70">Nombre y apellido:</p>   
            <input class="login-forms m-8" type="text" name="nombre-completo" placeholder="Escriba su nombre" required>   
            <p class="font-bold m-8 w-70">Nombre de usuario:</p>   
            <input class="login-forms m-8" type="text" name="nombre-usuario" placeholder="Escriba un nomrbre de usuario" required>   
            <p class="font-bold m-8 w-70">Mail:</p>   
            <input class="login-forms m-8" type="email" name="mail" placeholder="Escriba su mail" required>    
            <p class="font-bold m-8 w-70">Contraseña:</p>    
            <input class="login-forms m-8" type="password" name="contraseña" placeholder="Escriba una contraseña" required>   
            <p class="font-bold m-8 w-70">Confirmar contraseña:</p>   
            <input class="login-forms m-8" type="password" name="confirmar-contraseña" placeholder="Repita la contraseña" required>   

            
           <div class="align-self-center text-center w-70 p-20">
                <button class="login-buttons m-8 w-45" id=color type="submit">Registrarse</button>
                <button class="login-buttons m-8 w-45" id=color type="reset">Borrar</button>
            </div>      
        </form>

    </main>
</body>

<footer>
</footer>
</html>