@media (min-width:769px) {

.w-15-laptop {width:15%}
.w-60-laptop {width:60%}
.p-20-laptop {padding: 20px}

.hide-laptop {display: none}

.icon-header {
    font-size: 25px;
}

.footer-laptop {
    display: flex;
    justify-content: space-between;
}

}