* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    /*color: #f5f5dc;    */
}

body {
    font-family: roboto, sans-serif;
    background-color: #f5f5dc;
}

.logo {
    width:20%
}

.bg-black { background-color: #100f0f}
.font-black {color:#100f0f}
.font-grey {color:#5c5c5c}
.bg-cream { background-color: #f5f5dc;}
.font-cream {color:#f5f5dc}
.bg-blue {background-color: #107f72;}
.font-blue {color: #107f72}
.bg-orange {background-color: #ff9830;}
.font-orange {color: #ff9830}
.bg-light-blue {background-color: #75c8ca;}

.text-center {text-align: center}
.font-bold {font-weight: bold}
.font-22 {font-size: 22px}
.font-poppins {font-family: poppins, sans-serif}
.h3_letra{
    padding: 20px;
    color: black;
    font-size: 80px;
}
.letra_color{
    color: #FF8000;
    list-style: none;    
  }

.w-20 {width: 20%}
.w-30 {width:30%}
.w-45 {width:45%}
.w-50 {width: 50%}
.w-54 {width:54%}
.w-60 {width:60%}
.w-70 {width: 70%}
.w-80 {width:80%}
.w-75 {width: 75%}
.w-100 {width:100%}

.p-8 {padding:13px}
.p-10 {padding: 10px}
.p-20 {padding: 20px}
.pt-40 {padding-top: 40px}
.pb-40 {padding-bottom: 40px}
.pr-40 {padding-right:40px}
.p-40 {
    font-size: 30px;
    padding: 40px
}

.b-20 {border-top: 20px; border-bottom: 20px}

.m-8 {margin-top: 8px; margin-bottom: 8px}
.mt-8 {margin-top: 8px}

.div_seccion{
    display: flex;   
    align-items: flex-start;
    padding: 50px 50px;
    margin-left: 200px;    
  }

.div_seccion div{    
    flex-wrap: wrap;  
  }

  
.estilo_imagen{       
    color: blue;
    font-size: 2em;
    margin-top: 10px;
}

/*LINKS*/
.links {
    list-style:none;
    text-decoration: none;
    color:#f5f5dc
}
#link:hover {
    color: #10707F;
    text-decoration: underline
}


/*FLEX*/
.fx {display: flex}
.fx-wrap {flex-wrap: wrap}
.justify-center {justify-content: center}
.align-center {align-items: center}
.align-self-center {align-self: center}
.fx-space-between {justify-content: space-between;}

/*HEADER*/
.menu-hamburguesa { text-align: center }
.menu-hamburguesa i {
    padding: 10px;
    color: #f5f5dc;
    cursor: pointer;
    font-size:20px
}
.menu-hamburguesa i:hover {
    transform: rotate(90deg);
    transition: all 500ms
}

.icon-header {
    font-size: 20px;
    padding: 12px
}
.icon-header:hover {
    color:#ff9830;
    /*animation: girar 500ms*/
}
/*@keyframes girar {
    0% {
        transform: rotateY(0deg);
      }
      50% {
        transform: rotateY(90deg);
      }
      100% {
        transform: rotateY(0deg);
      }
}*/

.categories {
    padding: 8px;
    font-weight: bold;
    font-family: poppins, roboto;
}
.categories:hover {
    color:#ff9830;
    text-decoration: underline
}

/*REGISTRO Y LOGIN*/
.login-forms {
    width: 70%;
    padding:10px;
    font-size: 16px;
    border: 1px;
    border-radius: 7px;
}

.login-buttons {
    padding: 10px;
    font-size: 14px;
    background-color: #107f72;
    color: white ;
    border: 1px;
    border-radius: 10px;
    cursor: pointer
}

#color:hover {
    background-color: #FF8000;
    transition: all 0.5s
}

.login-producto {    
    font-size: 14px;
    background-color: #f5f5dc;     
    color: #10707F;
    border: 1px;
    border-radius: 10px;
    cursor: pointer;
    margin-bottom: 10px;
    margin-right: 20px;
    margin-left: 500px;
    margin-top: 10px;
}

/*PRODUCTOS*/

.img {
        width: 80%;
        border-radius:5%; 
    }
     
.img2 {
        width: 50%;
        border-radius: 5px;
    }
    
.img2_detalle {
        width: 40%;
        border-radius: 300px; 
        margin-left: 400px; 
    }
    
.img3 {
        width: 30%;
        border-radius:5%;   
    }

.text-line {
    font-size: 80%;
    text-align: center;
    font-family: roboto;
    /*position: relative;
    left: 100px;
    */
    
 
    }

  .linea {
    border-top: 1px solid black;
    height: 2px;
    min-width: 20px;
    padding: 200;
    margin: 10px ;
    text-align: center;
   
  }

/*FOOTER*/
.newsletter {
    padding: 10px;
    font-size: 16px;
    border-radius: 5px 0 0 5px;
    border: 2px; 
    color: #666;
    height: 40px;
}

.newsletter-s {
    padding: 10px;
    font-size: 16px;
    border-radius: 0 5px 5px 0;
    border: 2px;
    background-color: #100f0f;
    color:#f5f5dc;
    height: 40px;
    cursor: pointer
}
.newsletter-s:hover {
    background-color: #272626
}



/*MOBILE Y TABLET: ESCONDER CATEGORÍAS DEL HEADER*/
@media (max-width:769px){
    .hide-tab-mobile {display:none}
    }