* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    /*color: #f5f5dc;    */
}

body {
    font-family: roboto, sans-serif;
    background-color: #f5f5dc;
}

.logo {
    width:20%
}

.bg-black { background-color: #100f0f}
.font-black {color:#100f0f}
.font-grey {color:#5c5c5c}
.bg-cream { background-color: #f5f5dc;}
.font-cream {color:#f5f5dc}
.bg-blue {background-color: #107f72;}
.font-blue {color: #107f72}
.bg-orange {background-color: #ff9830;}
.font-orange {color: #FF8000}
.font-light-blue {color:#75c8ca}
.bg-light-blue {background-color: #75c8ca;}
.bg-white {background-color: white;}

.text-center {text-align: center}
.font-bold {font-weight: bold}
.font-22 {font-size: 22px}
.font-poppins {font-family: poppins, sans-serif}
.h3_letra{
    padding: 20px;
    color: black;
    font-size: 65px;
}
.letra_color{
    color: #FF8000;
    list-style: none;    
  }

.w-20 {width: 20%}
.w-25 {width: 25%}
.w-30 {width:30%}
.w-45 {width:45%}
.w-50 {width: 50%}
.w-54 {width:52%}
.w-60 {width:60%}
.w-70 {width: 70%}
.w-80 {width:80%}
.w-75 {width: 75%}
.w-100 {width:100%}

.he_20 {height: 20%;}
.he_40 {height: 40%;}
.he_100 {height: 100%;}

.w_px-200 {width: 200px;}

.he_vh-200 {height: 200px;}

.p-8 {padding:13px}
.p-10 {padding: 10px}
.p-20 {padding: 20px}
.pt-40 {padding-top: 40px}
.pb-40 {padding-bottom: 40px}
.pr-40 {padding-right:40px}
.p-40 {
    font-size: 30px;
    padding: 40px
}

.b-20 {border-top: 20px; border-bottom: 20px}

.m-0 {margin: 0px;}
.m-8 {margin-top: 8px; margin-bottom: 8px}
.mt-8 {margin-top: 8px}

.rad-10 {border-radius: 10%;}



.div_seccion{
    display: flex;   
    align-items: flex-start;
    padding: 50px 50px;
    margin-left: 200px;    
  }

.div_seccion div{    
    flex-wrap: wrap;  
  }

  
.estilo_imagen{       
    color: blue;
    font-size: 2em;
    margin-top: 10px;
}

main section section article form button{
    justify-content: center;
    background-color: #272626;
    border: #272626;
}

.section_articulo_producto{
    display: flex;
    background-color: #272626;
    padding: 10px;
    width: 100%;
    margin-right: 0px;
    
    
}

.articulo_producto{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 100%;
    border: 2px solid #100f0f;
    align-items: center;
    padding: 10px;
    justify-content:flex-start;
    margin: 0,7%;
    text-align: center;
}
.nombre_producto{
    display: flex;
    flex-direction:column-reverse;
    box-sizing: content-box;
    align-items: center;
    text-align: center;
    padding: 7px;
    justify-content:center;
    margin: 5%;

}

.botton_producto{
    
    flex-direction:column-reverse;
    box-sizing: border-box;
    align-items: center;
    text-align: center;
    padding: 10px;
    justify-content:center;
    margin-bottom: 5px;

}



/*LINKS*/
.links {
    list-style:none;
    text-decoration: none;
}
#link:hover {
    color: #10707F;
    text-decoration: underline
}

.underline:hover {
    text-decoration: underline
}


/*FLEX*/
.fx {display: flex}
.fx-wrap {flex-wrap: wrap}
.justify-center {justify-content: center}
.align-center {align-items: center}
.align-self-center {align-self: center}
.align-end {align-items: flex-end;}

.fx-space-between {justify-content: space-between;}

/*HEADER*/
.menu-hamburguesa { text-align: center }
.menu-hamburguesa i {
    padding: 10px;
    color: #f5f5dc;
    cursor: pointer;
    font-size:20px
}
.menu-hamburguesa i:hover {
    transform: rotate(90deg);
    transition: all 500ms
}

.icon-header {
    font-size: 20px;
    padding: 12px
}
.icon-header:hover {
    color:#ff9830;
    /*animation: girar 500ms*/
}
/*@keyframes girar {
    0% {
        transform: rotateY(0deg);
      }
      50% {
        transform: rotateY(90deg);
      }
      100% {
        transform: rotateY(0deg);
      }
}*/

.categories {
    padding: 8px;
    font-weight: bold;
    font-family: poppins, roboto;
    color: #f5f5dc
}
.categories:hover {
    color:#ff9830;
    text-decoration: underline
}

/*BANNERS DEL INICIO*/
.banner-bicis {
    font-size: 27px;
    font-family: poppins, roboto, sans-serif;
    color:#FF8000;
    text-shadow: 2px 2px #272626;
    padding: 20px;
    background-image: url("/imagenes/banner-bicis-bw.jpeg");
    background-repeat: no-repeat;
    background-size: 100%
}
.banner-bicis:hover {
    cursor: pointer;
    background-image: url("/imagenes/banner-bicis.jpeg");
    opacity: 0.95;
    color:#FF8000
}

.banner-skates {
    font-size: 30px;
    font-family: poppins, roboto, sans-serif;
    color:#FF8000;
    text-shadow: 2px 2px #272626;
    padding:20px;
    background-image: url("/imagenes/banner-skates-bw.jpeg");
    background-repeat: no-repeat;
    background-size: 100%
}
.banner-skates:hover {
    cursor: pointer;
    background-image: url("/imagenes/banner-skates.jpeg");
    opacity: 0.95;
    color:#FF8000;
}

.banner-hoverboard {
    font-size: 30px;
    font-family: poppins, roboto, sans-serif;
    color:#FF8000;
    text-shadow: 2px 2px #272626;
    padding:20px;
    background-image: url("/imagenes/banner-hoverboard-bw.jpeg");
    background-repeat: no-repeat;
    background-size: 100%
}
.banner-hoverboard:hover {
    cursor: pointer;
    background-image: url("/imagenes/banner-hoverboard.jpeg");
    opacity: 0.95;
    color:#FF8000
}

.banner-mono {
    font-size: 30px;
    font-family: poppins, roboto, sans-serif;
    color:#FF8000;
    text-shadow: 2px 2px #272626;
    padding:20px;
    background-image: url("/imagenes/banner-mono-bw.jpeg");
    background-repeat: no-repeat;
    background-size: 100%
}
.banner-mono:hover {
    cursor: pointer;
    background-image: url("/imagenes/banner-mono.jpeg");
    opacity: 0.95;
    color:#FF8000
}


.banner-accesorios {
    font-size: 30px;
    font-family: poppins, roboto, sans-serif;
    color:#FF8000;
    text-shadow: 2px 2px #272626;
    padding:20px;
    background-image: url("/imagenes/banner-accesorios-bw.jpeg");
    background-repeat: no-repeat;
    background-size: 100%
}
.banner-accesorios:hover {
    cursor: pointer;
    background-image: url("/imagenes/banner-accesorios.jpeg");
    opacity: 0.95;
    color:#FF8000
}

/*REGISTRO Y LOGIN*/
.login-forms {
    width: 70%;
    padding:10px;
    font-size: 16px;
    border: 1px;
    border-radius: 7px;
}

.login-buttons {
    padding: 10px;
    font-size: 14px;
    background-color: #107f72;
    color: white ;
    border: 1px;
    border-radius: 10px;
    cursor: pointer
}

#color:hover {
    background-color: #FF8000;
    transition: all 0.5s;
    color:#100f0f;
}

#articulo_anim:hover {
    box-shadow: 0px 5px 4px -2px#FF8000;
}

.login-producto {    
    font-size: 20px;
    background-color: #f5f5dc;     
    color: #10707F;
    border: 1px;
    border-radius: 10px;
    cursor: pointer;
    margin-bottom: 20px;
    margin-right: 30px;
    margin-left: 500px;
    margin-top: 20px;
}

/*PRODUCTOS*/

.img {
    width: 80%;
    border-radius:5%;
    margin-right: 0px;
}
     
.img2 {
        width: 40%;
        border-radius: 5px;
    }
    
.img2_detalle {
        width: 40%;
        border-radius: 200px; 
        margin-left: 400px; 
    }
    
.img3 {
        width: 30%;
        border-radius:5%;   
    }

.imagen_producto{
    width: 100%;
    height: 100%;
    border-radius: 5%;
} 

.text-line {
    font-size: 90%;
    text-align: center;
    font-family: roboto;
    padding-top: 20px;
    
 
    }

.linea {
    border-top: 1px solid black;
    height: 2px;
    min-width: 20px;
    padding: 200;
    margin: 10px ;
    text-align: center;
   
}

.button{
    margin: 0px;
    border: 0px;
    padding: 0px;
    width: 100%;
}

/*FOOTER*/
.newsletter {
    padding: 10px;
    font-size: 16px;
    border-radius: 5px 0 0 5px;
    border: 2px; 
    color: #666;
    height: 40px;
}

.newsletter-s {
    padding: 10px;
    font-size: 16px;
    border-radius: 0 5px 5px 0;
    border: 2px;
    background-color: #100f0f;
    color:#f5f5dc;
    height: 40px;
    cursor: pointer
}
.newsletter-s:hover {
    background-color: #272626
}

.margins-footer {
    margin-top: 20px;
    padding-bottom: 20px;
    background-color: #100f0f
}

.footer-icons {
    font-size: 28px;
    color: #cae9f5
}

.footer:hover .spin {
    transform: rotate(-360deg);
    transition: 1s
}

.redes-sociales {
    font-size: 18px;
    margin-top: 8px
}


/*MOBILE Y TABLET: ESCONDER CATEGORÍAS DEL HEADER*/
@media (max-width:769px){
    .hide-tab-mobile {display:none}
}

.login-buttons_login {
    padding: 5px;
    color: black;
    font-size: 14px;
    background-color: #f5f5dc;
    /*color: white ;*/
    border: 1px;
    border-radius: 10px;
    cursor: pointer    
}

/**********CARRITO *************/
.buscar_b{
    width: 60%;
    height: 40px;   
    border-radius: 10px 10px 10px 10px;     
    margin-top: 60px;
    margin-left: 50px;
}

.boton_buscar{
    border-radius: 0px 10px 10px 0px;  
    background-color: #f5f5dc;
    width: 2%;
    height: 40px; 
    border: none;       
}

.margen_detalle{ margin-left: 50%;}

.margen_opciones{ margin-left: 30%;}


.font-16 {font-size: 16px}
.font-10 {font-size: 10px}


.margen_superior{
    margin-top: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

.tamano_imagen{
    width: 100%;
    height:100%;    
}

.articulo_carro{
    display: flex;  
    justify-content: space-around;    
    margin-bottom: 10px;   
    width: 100% ;
    border-radius: 5px;
}

.articulo_carro article{
    display: flex;
    width: 30%;    
}

.articulo_carro div{  
    flex-direction: row;    
    justify-content: center;   
    padding: 15px;  
}


.carro-icons {
    font-size: 28px;    
}

.boton_tarjetas{
    border: none;
    background-color: #f5f5dc;
    cursor: pointer;
}

.descuento {    
    border-radius: 5px;
    width: 30%;
    height: 15%;
}

.boton_aplica{
    border: none;
    background-color: #f5f5dc;
    cursor: pointer;
    color:blue;
}

.boton-tarjeta-forms {
    width: 130%;
    padding:10px;
    font-size: 16px;
    border: 1px;
    border-radius: 7px;
}

.conte_tar{
    padding: 50px;
    margin-left: 120px;
}



/********DATOS DE TARGETA*****/

.img-tarjeta{
    display: flex;
    justify-content: flex-end;
    width: 35%;
}
 