<!DOCTYPE html>
<html lang="en">
<head>    
  <%-include ("../partial/head")%>
</head>  
<body>
    <%-include ("../partial/header")%>    
    <main>            
        <h3 class="text-center font-black bg-orange">
            <nav class="fx fx-wrap justify-center">
            <p class="text-center p-20 font-black">Carro de Compras</p>                  
            </nav>
        </h3>

    <section class="cart-section">
        <div class="cart-container">
            <div class="cart-items">
                    <div class="cart-image">
                        <img src="/imagenes/hoverboard.jpg" alt="Hoverboard" class="tamano_imagen" />
                    </div>
                    <div>
                        <p class="cart-text">Hoverboard</p>
                    </div>
                    <div class="cart-cantidad">
                        <div><i class="fas fa-plus-square cart-signo"></i></div>
                        <div class="cart-text">2</div>
                        <div><i class="fas fa-minus-square cart-signo"></i></div>
                    </div>
                    <div>
                        <div class="cart-price">$32.770</div>
                    </div>
                    <div>
                        <i class="fas fa-times-circle"></i> 
                    </div> 
            </div>
            <div class="cart-items">
                    <div class="cart-image">
                        <img src="/imagenes/bici-electrica-mountain-bike.jpg" alt="bici-electrica-mountain-bike" class="tamano_imagen" />
                    </div>
                    <div class="cart-div">
                        <p class="cart-text">Bicicleta C.</p>
                    </div>
                    <div class="cart-cantidad">
                        <div><i class="fas fa-plus-square cart-signo"></i></div>
                        <div class="cart-text">1</div>
                        <div><i class="fas fa-minus-square cart-signo"></i></div>
                    </div>
                    <div>
                        <div class="cart-price">$45.000</div>
                    </div>
                    <div>
                        <i class="fas fa-times-circle"></i> 
                    </div> 
            </div>
            <br>
            <hr>
   
            <div class="cart-descuento p-8">
                <p class="cart-cupon">INGRESE UN CUPÓN:</p>
                <input class="m-8 font-16" type="text" id="cupondescuento" name="cupondescuento" placeholder="Código de descuento">   
                <button class="font-10" type="submit"> Aplicar Descuento</button>             
            </div>

            <div>
                <div class="cart-checkout">
                    <p class="cart-total">SUB-TOTAL:</p><p class="">$7700000</p>        
                </div>
                <div class="cart-checkout">
                    <p class="cart-total">DESCUENTO:</p><p class="">$0,00</p>        
                </div>
                <div class="cart-checkout">
                    <p class="cart-total">TOTAL:</p><p class="">$7700000</p>        
                </div>
            </div>
        </div>
        <div class="cart-container">
                <div class="font-12 p-20">
                <form action="/ventas/datosTarjeta" method="get">
                    <label for="formapago" class="payment-text"><strong>FORMA DE PAGO</strong></label>
                    <p class="font-14">Haga click sobre una forma de pago:</p>
                    <button class="boton_tarjetas" type="submit"><i class="fab fa-cc-visa p-8 carro-icons spin"></i></button>
                    <button class="boton_tarjetas" type="submit"><i class="fab fa-cc-amex p-8 carro-icons spin"></i></button>
                    <button class="boton_tarjetas" type="submit"><i class="far fa-credit-card p-8 carro-icons spin"></i></button> 
                    <button class="boton_tarjetas" type="submit"><i class="fab fa-cc-mastercard p-8 carro-icons spin"></i></button> 
                </form>  
                </div> 
        
                <div class="font-12 p-20">
                    <label for="entrega" class="payment-text"><strong>ENTREGA DE PRODUCTO</strong></label><br>
                    <p class="font-14">Elija una forma de entrega:</p>
                    <div class="p-8 font-14">
                        <input type="radio" name="entrega" value="adomic"> A Domicilio
                        <input type="radio" name="entrega" value="localc"> Local Comercial 
                        <input type="radio" name="entrega" value="enviocorreo"> Envío al Correo  
                    </div>
                </div>                           
        </div>
    </section>

    <form class="fx fx-wrap justify-center" action="/" method="get">      
        <div class="text-center w-70 p-20 pb-40">
            <button class="login-buttons m-8 w-60" type="submit" id="color">Pagar</button>
        </div>  
    </form>   
        
                   
   
        
        
</main>
 <%-include ("../partial/footer")%>
</body>
</html>