<header class="bg-black"> 
<main class="container">    
    <div class="fx fx-wrap fx-space-between align-center p-20">
        
        <!-- Solo se verá en mobile -->
        <div class="menu-hamburguesa p-10 hide-laptop">
            <div id="menumobile">
                    <ul>
                     <li class="categories"><i class="fas fa-chevron-left"></i></li>
                      <li class="categories" id="categ">BICICLETAS ELÉCTRICAS</li>
                            <div id="submenu">
                                <li><a href="/productos/by-category/1" style="text-decoration:none; color:#ff9830"><em>Mostrar todos</em></a></li>
                                <li><a href="/productos/consult/1" style="text-decoration:none; color:#f5f5dc">Bicicleta Cortina</a></li>
                                <li><a href="/productos/consult/2" style="text-decoration:none; color:#f5f5dc">Bicicleta Montañera</a></li>
                                <li><a href="/productos/consult/3" style="text-decoration:none; color:#f5f5dc">Bicicleta Tourism</a></li>
                            </div>
                      <li class="categories"  id="categ">MONOPATINES</li>
                            <div id="submenu">
                                <li><a href="/productos/by-category/2" style="text-decoration:none; color:#ff9830"><em>Mostrar todos</em></a></li>
                                <li><a href="/productos/consult/7" style="text-decoration:none; color:#f5f5dc">Monopatín Uno</a></li>
                                <li><a href="/productos/consult/8" style="text-decoration:none; color:#f5f5dc">Monopatín Blanco</a></li>
                                <li><a href="/productos/consult/9" style="text-decoration:none; color:#f5f5dc">Monopatín Infantil</a></li>
                            </div>
                      <li class="categories"  id="categ">SKATEBOARDS</li>
                            <div id="submenu">
                                <li><a href="/productos/by-category/3" style="text-decoration:none; color:#ff9830"><em>Mostrar todos</em></a></li>
                                <li><a href="/productos/consult/10" style="text-decoration:none; color:#f5f5dc">Skateboard #1</a></li>
                                <li><a href="/productos/consult/11" style="text-decoration:none; color:#f5f5dc">Skateboard #2</a></li>
                                <li><a href="/productos/consult/12" style="text-decoration:none; color:#f5f5dc">Skateboard #3</a></li>
                            </div>
                      <li class="categories" id="categ">HOVERBOARDS</li>
                            <div id="submenu">
                                <li><a href="/productos/by-category/4" style="text-decoration:none; color:#ff9830"><em>Mostrar todos</em></a></li>
                                <li><a href="/productos/consult/1" style="text-decoration:none; color:#f5f5dc">Hoverboard</a></li>
                                <li><a href="/productos/consult/2" style="text-decoration:none; color:#f5f5dc">Hoverboard Verde</a></li>
                                <li><a href="/productos/consult/3" style="text-decoration:none; color:#f5f5dc">Hoverboard KANY</a></li>
                            </div>
                      <li class="categories" id="categ">ACCESORIOS</li>
                            <div id="submenu">
                                <li><a href="/productos/by-category/5" style="text-decoration:none; color:#ff9830"><em>Mostrar todos</em></a></li>
                                <li><a href="/productos/consult/1" style="text-decoration:none; color:#f5f5dc">Ruedas</a></li>
                                <li><a href="/productos/consult/2" style="text-decoration:none; color:#f5f5dc">Rulemanes</a></li>
                                <li><a href="/productos/consult/3" style="text-decoration:none; color:#f5f5dc">Kit de Protección</a></li>
                            </div>
                    </ul>
            </div>
            <i class="fas fa-bars" id="burgermenu"></i>
        </div>

        <h1 class="text-center w-20 w-15-laptop">
            <a href="/">
               <img class="w-75 w-60-laptop" src="/imagenes/logo-teme.png" alt="Logo Teme"/>
            </a>
        </h1>

        <!-- Solo se verá en laptop -->
        <nav class="fx fx-wrap hide-tab-mobile">
            <ul type="none" class="fx fx-wrap">
                <div class="menu-desplegable">
                    <li> <a href="/productos/by-category/1" class="links categories">BICICLETAS ELÉCTRICAS</a> </li>
                        <div class="desplegable">
                            <a href="/productos/consult/1">Bicicleta Cortina</a>
                            <a href="/productos/consult/2">Bicicleta Montañera</a>
                            <a href="/productos/consult/3">Bicicleta Tourism</a>
                        </div>
                </div>
                <div class="menu-desplegable">
                    <li> <a href="/productos/by-category/2" class="links categories">MONOPATINES</a></li>
                        <div class="desplegable">
                            <a href="/productos/consult/7">Monopatín Uno</a>
                            <a href="/productos/consult/8">Monopatín Blanco</a>
                            <a href="/productos/consult/9">Monopatín Infantil</a>
                        </div>
                </div>
                <div class="menu-desplegable">
                    <li> <a href="/productos/by-category/2" class="links categories">SKATEBOARDS</a> </li>
                        <div class="desplegable">
                            <a href="/productos/consult/10">Skateboard #1</a>
                            <a href="/productos/consult/11">Skateboard #2</a>
                            <a href="/productos/consult/12">Skateboard #3</a>
                        </div>
                </div>
                <div class="menu-desplegable">
                    <li> <a href="/productos/by-category/4" class="links categories">HOVERBOARDS</a> </li>
                        <div class="desplegable">
                            <a href="/productos/consult/4">Hoverboard</a>
                            <a href="/productos/consult/5">Hoverboard Verde</a>
                            <a href="/productos/consult/6">Hoverboard KANY</a>
                        </div>
                </div>
                <div class="menu-desplegable">
                    <li> <a href="/productos/by-category/5" class="links categories">ACCESORIOS</a> </li>
                        <div class="desplegable">
                            <a href="/productos/consult/13">Ruedas</a>
                            <a href="/productos/consult/14">Rulemanes</a>
                            <a href="/productos/consult/15">Kit de Protección</a>
                        </div>
                </div>
            </ul>
        </nav>
        <!---->

        <ul type="none" class="fx fx-wrap align-self-center p-20-laptop">            
            <a href="/">
                <li class=""> <i class="fas fa-home font-cream icon-header"></i></li>
            </a> 
            <div class="menu-desplegable" style="align-self:center">
             <% if (locals.isLogger){%>   
                <img src="/imagenes/<%=locals.loggedUser.imagen%>"
                style="height:30px; width:30px; border-radius:50%;">
                    <div class="desplegable2">
                           <a href="#">Mi Perfil</a> 
                           <a href="/user/logout">Cerrar Sesion</a>
                    </div> 
             <%}else{%>
                <li class=""> <i class="fas fa-user-circle font-cream icon-header"></i> </li>
                    <div class="desplegable2">
                            <a href="/user/login">Iniciar sesión</a>
                            <a href="/user/register">Registrarse</a>   
                    </div>                         
            <%}%>     
            </div> 

            <div class="menu-desplegable">
                <li class=""> <i class="fas fa-shopping-bag font-cream icon-header"></i></li>
                <% if (locals.isLogger){%>
                    <div class="desplegable2">
                        <a href="/ventas/carrito">Carrito</a>
                        <a href="#">Historial de Compras</a>
                    </div> 
                <%}else{%>
                    <div class="desplegable2">
                        <a href="/ventas/carrito">Comprar</a>
                    </div> 
                <%}%>    
            </div>  
            <% if (locals.isLogger && locals.loggedUser.rol.id==1){%>
                <div class="menu-desplegable">
                    <li class=""> <i class="fas fa-cog font-cream icon-header"></i> </li>                                        
                        <div class="desplegable2">
                            <a href="/productos/create">Agregar un producto</a>
                            <a href="/productos">Editar un producto</a>
                        </div>                    
                </div>
                <%}%>         
        </ul>
    </div>
</main> 
<script src="/js/jsHeader.js"></script>   
</header> 
