<header class="bg-black">        
    <div class="fx fx-wrap fx-space-between align-center p-20">
            <div class="menu-hamburguesa p-10 hide-laptop">
                <i class="fas fa-bars"></i>
            </div>

        <h1 class="text-center w-20 w-15-laptop">
            <a href="/">
            <img class="w-75 w-60-laptop" src="/imagenes/logo-teme.png" alt="Logo Teme"/>
            </a>
        </h1>

        <!-- Solo se verá en laptop -->
        <nav class="fx fx-wrap hide-tab-mobile">
            <ul type="none" class="fx fx-wrap">
                <div class="menu-desplegable">
                    <li> <a href="/productos/listadoProducto" class="links categories">BICICLETAS ELÉCTRICAS</a> </li>
                        <div class="desplegable">
                            <a href="/productos/productoDetalle">Bicicleta Cortina</a>
                            <a href="/productos/productoDetalle">Bicicleta Montañera</a>
                            <a href="/productos/productoDetalle">Bicicleta Tourism</a>
                        </div>
                </div>
                <div class="menu-desplegable">
                    <li> <a href="/productos/listadoProducto" class="links categories">MONOPATINES</a></li>
                        <div class="desplegable">
                            <a href="/productos/productoDetalle">Monopatín Uno</a>
                            <a href="/productos/productoDetalle">Monopatín Blanco</a>
                            <a href="/productos/productoDetalle">Monopatín Infantil</a>
                        </div>
                </div>
                <div class="menu-desplegable">
                    <li> <a href="/productos/listadoProducto" class="links categories">SKATEBOARDS</a> </li>
                        <div class="desplegable">
                            <a href="/productos/productoDetalle">Skateboard #1</a>
                            <a href="/productos/productoDetalle">Skateboard #2</a>
                            <a href="/productos/productoDetalle">Skateboard #3</a>
                        </div>
                </div>
                <div class="menu-desplegable">
                    <li> <a href="/productos/listadoProducto" class="links categories">HOVERBOARDS</a> </li>
                        <div class="desplegable">
                            <a href="/productos/productoDetalle">Hoverboard</a>
                            <a href="/productos/productoDetalle">Hoverboard Verde</a>
                            <a href="/productos/productoDetalle">Hoverboard KANY</a>
                        </div>
                </div>
                <div class="menu-desplegable">
                    <li> <a href="/productos/listadoProducto" class="links categories">ACCESORIOS</a> </li>
                        <div class="desplegable">
                            <a href="/productos/productoDetalle">Ruedas</a>
                            <a href="/productos/productoDetalle">Kit</a>
                        </div>
                </div>
            </ul>
        </nav>
        <!---->

        <ul type="none" class="fx fx-wrap align-self-center p-20-laptop">
            <a href="/">
                <li class=""> <i class="fas fa-home font-cream icon-header"></i></li>
            </a>         
            <div class="menu-desplegable">
                <li class=""> <i class="fas fa-user-circle font-cream icon-header"></i> </li>
                    <div class="desplegable2">
                        <a href="/user/login">Iniciar sesión</a>
                        <a href="/user/register">Registrarse</a>
                    </div>
            </div> 
            <a href="/ventas/carrito">
                <li class=""> <i class="fas fa-shopping-bag font-cream icon-header"></i></li>
            </a>
        </ul>
    </div>               
    
</header>   