<!DOCTYPE html>
<html lang="en">
<head>
   <%-include ("./partial/head")%>
</head>   
<body>
    <main>
        <h2>Ocurrio un error en el sistema<%=error%></h2>
    </main>
    <%-include ("./partial/footer")%>
</body>
</html>